              <li class="nav-item">
                <%= link_to user_path(current_user.id), class: 'nav-link' do %>
                  <%= fa_icon 'user'%>
                <% end %>
                
              </li>
              <li class="nav-item">
                <%= link_to 'Profile', user_path(current_user.id), class: 'nav-link hidden'%>
              </li>